:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@layer components {
  input[type=range] {
    @apply appearance-none bg-transparent;
  }

  input[type=range]::-webkit-slider-runnable-track {
    @apply  bg-blue-500/25 rounded-full;
  }

  input[type=range]::-moz-range-track {
    @apply bg-blue-500/25 rounded-full;
  }

  input[type=range]::-ms-track {
    @apply bg-blue-500/25 rounded-full;
  }

  input[type="range"]::-moz-range-thumb {
    @apply w-4 h-4 bg-blue-500 rounded-full;
  }

}

@tailwind base;
@tailwind components;
@tailwind utilities;