@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

@layer components {
    input[type="range"] {
        @apply appearance-none bg-transparent;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        @apply rounded-full bg-seablue/25;
    }

    input[type="range"]::-moz-range-track {
        @apply rounded-full bg-seablue/25;
    }

    input[type="range"]::-ms-track {
        @apply rounded-full bg-seablue/25;
    }

    input[type="range"]::-moz-range-progress {
        @apply rounded-full bg-seablue/25;
    }

    input[type="range"]::-moz-range-thumb {
        @apply h-4 w-4 rounded-full bg-seablue;
    }

    input[type="range"]::-webkit-slider-thumb {
        @apply h-4 w-4 rounded-full bg-seablue;
    }
}

.Toastify__toast {
    border: 2px solid #99aabb;
}

#content-wrapper {
    overflow: hidden;
}
