:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --toastify-color-light: #fff;
  --toastify-color-dark: #1D293B;
  --toastify-color-info: #aaddcc;
  --toastify-color-success: #aabb99;
  --toastify-color-warning: #ff8866;
  --toastify-color-error: #ccaabb;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-border-radius: 10px;
  --toastify-toast-border-width: 1px;
  --toastify-toast-border-color: #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@layer components {
  input[type=range] {
    @apply appearance-none bg-transparent;
  }

  input[type=range]::-webkit-slider-runnable-track {
    @apply  bg-seablue/25 rounded-full;
  }

  input[type=range]::-moz-range-track {
    @apply bg-seablue/25 rounded-full;
  }

  input[type=range]::-ms-track {
    @apply bg-seablue/25 rounded-full;
  }

  input[type="range"]::-moz-range-progress {
    @apply bg-seablue/25 rounded-full;
  }

  input[type="range"]::-moz-range-thumb {
    @apply w-4 h-4 bg-seablue rounded-full;
  }

  input[type="range"]::-webkit-slider-thumb {
    @apply w-4 h-4 bg-seablue rounded-full;
  }

}

.Toastify__toast {
  border: 2px solid #99aabb;
}

@tailwind base;
@tailwind components;
@tailwind utilities;